.mainInfo {
  border: 5px outset red;
  height: 100px;
  width: 400px;
  background-color: lightblue;
  text-align: left;
}
img {
  border: 1px solid #ddd;
  border-radius: 90%;
  padding: 5px;
  width: 80px;
}
body {
  background-color: antiquewhite;
}
.favoriteQute {
  padding-top: 20px;
}
.pokemon {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 80px;
}
.Pokemonfavorite {
  padding-top: 40px;
  padding-bottom: 40px;
  display: inline-block;
}
.frinds {
  border: 5px outset blue;
  height: 400px;
  width: 250px;
  background-color: blue;
  margin-left: 80%;
}
