#container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.head {
  height: 70px;
  width: 90%;
  right: 0;
  position: absolute;
  background-color: #fef49b;
  display: inline-block;
}

.side-nav {
  height: 500px;
  width: 10%;
  background-color: #e75c5c;
  display: inline-block;
}

.main {
  position: absolute;
  display: inline-block;
  width: 100%;
  background-color: rgb(30, 255, 0);
}

.inner-content {
  grid-template-areas:
    "h h f f s s"
    "h h f f s s"
    "h h . . s s"
    "h h m m s s"
    "h h m m s s";
  position: absolute;
  top: 70px;
  height: 430px;
  width: 90%;
  background-color: rgb(0, 217, 255);
}
