.fab fa-android {
  color: green;
}
#container1 {
  background-color: aqua;
  margin-bottom: 10px;
}
#container2 {
  background-color: aqua;

  margin-bottom: 10px;
}
#container3 {
  background-color: aqua;

  margin-bottom: 10px;
}
